* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  :root {
    --color-primary: #312453;
    --color-secondary: #7b59d0;
    --color-tertiary: #bfbcf3;
    --color-white: #fff;
    --color-grey0: #eee;
    --color-grey1: #666;
  }
  .principal{
    display: flex;
    background-image: url(../images/slider-4-1920x1000.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .welcome-container{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    color: #fff;
    width: 60%;
    margin: 46px 46px 73px 96px;
  }
  .logo-title{
    width: 40%;
    margin-bottom: 5%;
  }
  .welcome-container_title{
    width: 15em;
  }
  .welcome-container_subtitle a{
    color: #fff;
  }
  .loguin{    
    /* background: center top / cover rgb(255, 255, 255); */
    width: 40%;
    height: 100%;
    padding: 20px;
    min-height: 100%;
    display: flex;
    float: right;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.502);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.502);
    z-index: 10;
    overflow-y: auto;
  }
  .loguin-container{
    width: 518px;
    padding: 30px 50px 0;
    box-sizing: border-box;
  }
  .loguin-container_title{
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    color: #1E1F21;
    margin: 0 auto 16px;
  }
  .loguin-container_subtitle{
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
  }
  .btn-container{
    display: flex;
    justify-content: center;
    margin-top: 7%;
  }
  .rectangulo{
    width: 400px;
    margin: 8px auto 105px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 400;
    text-align: center;
  }
  .rectangulo p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }
  .rectangulo a{
    color: #ec0000;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 16px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  @media only screen and (max-width: 768px) {
    .welcome-container{
        display: none;
    }
    .loguin{
        width: 100%;
        height: 100%;
    }
  }