.section h2{
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0px 40px;
}

.section h3{
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
    margin: 10px 0px 30px;
}

.section h3 span{
    margin-left: 10px;
    cursor: pointer;
}

.card, .card-btn{
    border-radius: 10px;
    background-color: #fff;
    padding: 30px 40px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-btn{
    cursor: pointer;
}

.card-btn:hover{
    background-color: #ccc;
    border-left: 8px solid #6247A6;
}

.card-icon-flex{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.card-icon-flex a{
    font-size: 12px;
    font-weight: 300;
    color: #4d4c4c;
}

.card-saldo, .card-dashed, .card-consumo, .card-dashed-consumo{
    font-size: 24px;
    font-weight:900;
    margin: 10px 0px;
}

.card p, .card-btn p{
    font-size: 12px;
    font-weight: 300;
    color: #4d4c4c;
    margin: 10px 0px;
}

.card .card-line-flex p{
    font-size: 12px;
    font-weight: 300;
    color: #4d4c4c;
    margin: 0px;
}

.card-line-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modal-CBUAlias{
    width: 300px;
}

.modal-header h4{
    font-size: 16px;
}

#btn-CopyData{
    float: right;
    margin-top: 30px;
}

.modal-text-line{
    margin: 10px 0px;
}

.modal-text{
    font-size: 14px;
    font-weight: 300;
}

.modal-label{
    font-size: 12px;
    font-weight: bold;
}

.card-selected{
    border-left: 8px solid #6247A6;
}

.section-movimientos{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 20px;
}

.section-movimientos h4{
    font-size: 16px;
    margin: 10px 0px;
}

.section-movimientos p{
    font-size: 12px;
    margin: 10px 0px 20px;
    color: #646464;
}

.table-movimientos{
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    gap: 0;
    border-top: 1px solid #ccc;
    font-size: 12px;
}

.grid-item{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Estilo para la última fila para evitar una línea inferior adicional */
.grid-item:last-child:nth-child(-n+5) {
    border-bottom: none;
}