
/* Estilo para la última fila para evitar una línea inferior adicional */
.grid-item:last-child:nth-child(-n+5) {
    border-bottom: none;
}

.icon-grid{
    font-size: 18px;
    color: #3d3d3d;
    margin: 0px 10px;
    cursor: pointer;
}

/* Modal */
.modal-destinatario, .modal-transfer{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
}

.modal-header h4{
    font-size: 16px;
}

.modal-line-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modal-text-line{
    margin: 10px 0px;
    display: grid;
}

.input{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.modal-text-line label{
    font-size: 14px;
    color: #3d3d3d;
    font-weight: 300;
}

.modal-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding: 20px 0px 0px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    color: #333;
}


table thead th {
    background-color: #6247A6;
    color: white;
    padding: 12px 15px;
}


table tbody tr {
    border-bottom: 1px solid #dddddd;
}


table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


table tbody td {
    padding: 12px 15px;
}

table tbody tr:hover {
    background-color: #a371f7;
    color: #fff;
}


table tfoot td {
    background-color: #6247A6;
    color: white;
    padding: 12px 15px;
    font-weight: bold;
}


table, th, td {
    border: 1px solid #dddddd;
}


button.icon-grid {
    background-color: #6247A6;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}




button.icon-grid:active {
    background-color: #503393;
}


button.icon-grid .fa-solid {
    margin-right: 5px;
}


button#icono-modificar {
    background-color: #4B0082;
}


button[title="Eliminar"] {
    background-color: #B22222;
}


button[title="Tranferir"] {
    background-color: #2E8B57;
}

/* Estilos Responsive */
/* @media screen and (max-width: 768px) {
    table, thead, tbody, tfoot, th, td, tr {
        display: block;
        width: 100%;
    }
    
    thead tr {
        display: none;
    }
    
    tbody tr {
        margin-bottom: 10px;
    }
    
    tbody td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    
    tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
    
    tfoot td {
        display: block;
        text-align: right;
    }
} */

@media screen and (max-width: 768px) {
    .table-agenda {
        overflow-x: scroll;
    }
}