.table-agenda{
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;
    gap: 0;
    border-top: 1px solid #ccc;
    font-size: 12px;
}

.grid-item{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Estilo para la última fila para evitar una línea inferior adicional */
.grid-item:last-child:nth-child(-n+5) {
    border-bottom: none;
}

.icon-grid{
    font-size: 18px;
    color: #3d3d3d;
    margin: 0px 10px;
    cursor: pointer;
}

/* Modal */
.modal-destinatario, .modal-transfer{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
}

.modal-header h4{
    font-size: 16px;
}

.modal-line-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.modal-text-line{
    margin: 10px 0px;
    display: grid;
}

.input{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.modal-text-line label{
    font-size: 14px;
    color: #3d3d3d;
    font-weight: 300;
}

.modal-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding: 20px 0px 0px;
}

