{% extends 'auth/auth_layout.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content%}

<div class="logo">
    <img src="{{url_for('static', filename='images/argenntum.fw.png')}}" alt="">
</div>
<div class="register">
	{% include "includes/alert.html" %}
    <h1>Registrate</h1>
    <div class="links">
        <a href="{{ url_for('login') }}">Inicio de Sesión</a>
        <a href="{{ url_for('register') }}" class="active">Registro</a>
    </div>
    <form action="{{ url_for('register') }}" method="post" autocomplete="off">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Usuario" id="username" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Contraseña" id="password" required>
        <label for="email">
            <i class="fas fa-envelope"></i>
        </label>
        <input type="email" name="email" placeholder="Email" id="email" required>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Ir">
    </form>
</div>
{% endblock %}